<div class="container-fluid">
    <div id="logo">
        <a [routerLink]="['/admin-dashboard']">
            <img src="/assets/img/LogoSmartOrganizerSVG.svg" width="50px" height="auto" alt="">
            <br>
            <p id="testologo">Smart<br>Organizer</p>
        </a>
    </div>

    <div class="row">

        <div class="col-12">
            <nav class="navbar-light navbar-expand-xl ">


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav">

                        <li>
                            <a [routerLink]="['/admin-dashboard/users']">Users</a>
                        </li>
                        <li>
                            <a [routerLink]="['/admin-dashboard/employees']">Employees</a>
                        </li>
                        <li>
                            <a [routerLink]="['/admin-dashboard/tools']">Tools</a>
                        </li>
                        <li>
                            <a [routerLink]="['/admin-dashboard/bills']">Bills</a>
                        </li>
                        <li>
                            <a [routerLink]="['/admin-dashboard/locations']">Locations</a>
                        </li>
                        <li>
                            <a [routerLink]="['/admin-dashboard/calendars']">Calendars</a>
                        </li>
                        <li>
                            <a [routerLink]="['/admin-dashboard/workgroups']">Workgroups</a>
                        </li>




                    </ul>


                </div>
            </nav>


        </div>

    </div>
</div>