.container-fluid {
    background-color: rgba(58, 43, 226, 0.537);
}

#centro {
    text-align: center;
}

.row {
    padding: 2vw;
    justify-content: center;
    vertical-align: bottom;
    position: relative;
}

a {
    color: white;
    margin: 1vw;
}