<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employee-heading">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!employee.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="employee.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="employee.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                        [(ngModel)]="employee.surname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fiscalcode">Fiscalcode</label>
                    <input type="text" class="form-control" name="fiscalcode" id="field_fiscalcode"
                        [(ngModel)]="employee.fiscalcode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_position">Position</label>
                    <input type="text" class="form-control" name="position" id="field_position"
                        [(ngModel)]="employee.position" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_workgroup">Workgroup</label>
                    <select class="form-control" id="field_workgroup" name="workgroup" [(ngModel)]="employee.workgroupId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workgroupOption.id" *ngFor="let workgroupOption of workgroups; trackBy: trackWorkgroupById">{{workgroupOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
