<div class="row">
    <div class="col-md-12">
        <div class="sidenav">
            <button class="menubtn">
                <a [routerLink]="['/admin-dashboard']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
                    Dashboard </a>
            </button>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#account"
                (click)="accountcollapse()">
                <i class="fas fa-user" style="margin-right: 15px"></i> Account
            </button>
            <div class="collapsebtn" id="account" *ngIf="isAccountCollapsed">
                <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/work-in-progress']"> <i class="fas fa-user-edit"
                            style="margin-right: 15px"></i>
                        Edit Profile</a>
                </button>
                <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/work-in-progress']"><i class="fas fa-file-alt"
                            style="margin-right: 15px"></i>General Info</a>
                </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#users"
                (click)="userscollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Users
            </button>
            <div class="collapsebtn" id="users" *ngIf="isUserCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/users']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Users </a>
                </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#employees"
                (click)="employeecollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Employees
            </button>
            <div class="collapsebtn" id="employee" *ngIf="isEmployeeCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/employees']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Employees </a>
                </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#tools"
                (click)="toolscollapse()">
                <i class="fas fa-tools" style="margin-right: 15px"></i>Tools
            </button>
            <div class="collapsebtn" id="tools" *ngIf="isToolCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/tools']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Tools </a>
                </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#bills"
            (click)="billscollapse()">
            <i class="fas fa-book" style="margin-right: 15px"></i>Bills
            </button>
            <div class="collapsebtn" id="bills" *ngIf="isBillCollapsed">
            <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                <a [routerLink]="['/admin-dashboard/bills']"> <i class="fas fa-edit" style="margin-right: 10px">
                    </i> Manage Bills </a>
            </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#locations"
            (click)="locationscollapse()">
            <i class="fas fa-map-marker" style="margin-right: 15px"></i>Locations
            </button>
            <div class="collapsebtn" id="locations" *ngIf="isLocationCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/locations']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Locations </a>
                </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#calendars"
                (click)="calendarscollapse()">
                <i class="fas fa-calendar-alt" style="margin-right: 15px"></i>Calendars
            </button>
            <div class="collapsebtn" id="Calendars" *ngIf="isCalendarCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/calendars']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Calendars </a>
                </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#workgroups"
            (click)="workgroupscollapse()">
            <i class="fas fa-map-marker" style="margin-right: 15px"></i>Workgroups
            </button>
            <div class="collapsebtn" id="workgroups" *ngIf="isWorkgroupCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/workgroups']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Workgroups </a>
                </button>
            </div>
            <button class="menubtn" (click)="logout()">
                <i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
            </button>
        </div>
    </div>
</div>