<div id="riga" class="container">
    <div class="row mt-5">
        <div class="col-md-1">

        </div>
        <div id="tabelle" class="col-md-10">
            <div id="usurato">

                <p>!!!tool da cambiare!!! </p><br>
                <a (click)="chiudi()">chiudi</a>
            </div>
            <table style="overflow: auto;">
                <tr id="linea1">
                    <th>
                        Toolname
                    </th>
                    <th>
                        Rawmaterial
                    </th>
                    <th>
                        Lifetime
                    </th>
                    <th>
                        Employee
                    </th>
                    date
                    <th>
                        Start time using tool
                    </th>
                    <th>
                        end time using tool
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Tool
                    </th>
                    <th>
                        usura
                    </th>

                </tr>
                <tr id="linea1">

                    <td>
                        <input placeholder="insert toolname" [(ngModel)]="tooltoinsert.toolname">
                    </td>

                    <td>
                        <input placeholder="insert rawmaterial" [(ngModel)]="tooltoinsert.rawmaterial">
                    </td>
                    <td> </td>

                    <td>
                        <select placeholder="employee" [(ngModel)]="tooltoinsert.employeeId">
                            <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="date" placeholder="insert the start date of using tool" [(ngModel)]="tooltoinsert.date">

                    </td>
                    <td>
                        <input type="time" placeholder="insert the start time of using tool" [(ngModel)]="tooltoinsert.starttime">
                    </td>
                    <td>
                        <input type="time" placeholder="insert the end time of using tool " [(ngModel)]="tooltoinsert.endtime">
                    </td>
                    <td>
                        <button (click)="insert(tooltoinsert)">Insert</button>
                    </td>
                    <td>
                        <button (click)="clear()">Clear</button>
                    </td>
                    <td></td>
                </tr>
                <tr id="linea1" *ngFor="let tool of tools | paginate:{itemsPerPage:15,currentPage:pageC}">
                    <td>
                        <input [(ngModel)]="tool.toolname">
                    </td>
                    <td>
                        <input [(ngModel)]="tool.rawmaterial">
                    </td>
                    <td>
                        <input [(ngModel)]="tool.lifetime"> </td>
                    <td>
                        <select [(ngModel)]="tool.employeeId">
                            <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="date" [(ngModel)]="tool.date">
                    </td>
                    <td>
                        <input type="time" [(ngModel)]="tool.starttime">
                    </td>

                    <td>
                        <input type="time" [(ngModel)]="tool.endtime">
                    </td>
                    <td>
                        <button (click)="update(tool)">Save</button>
                    </td>
                    <td>
                        <button id="delete" style="visibility:visible;" (click)="delete(tool)">Delete</button>
                    </td>
                    <td>
                        <button (click)="usura(tool)">usura</button>
                    </td>
                </tr>
            </table>



        </div>
        <div class="col-md-1">

        </div>
    </div>
    <pagination-controls (pageChange)="pageC  = $event"></pagination-controls>
</div>