<div class="container">
    <div class="row mt-5">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <table>
                <tr>
                    <th>
                        Toolname
                    </th>
                    <th>
                        Rawmaterial
                    </th>
                    <th>
                        Lifetime
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Tool
                    </th>
                </tr>
                <tr>
                    <td>
                        <input placeholder="toolname" [(ngModel)]="tooltoinsert.toolname">
                    </td>

                    <td>
                        <input placeholder="rawmaterial" [(ngModel)]="tooltoinsert.rawmaterial">
                    </td>
                    <td> <input placeholder="lifetime" [(ngModel)]="tooltoinsert.lifetime"></td>
                    <td>
                        <button (click)="insert(tooltoinsert)">Insert</button>
                    </td>
                    <td>
                        <button (click)="clear()">Clear</button>
                    </td>
                </tr>
                <tr *ngFor="let tool of tools">
                    <td>
                        <input [(ngModel)]="tool.toolname">
                    </td>
                    <td>
                        <input [(ngModel)]="tool.rawmaterial">
                    </td>
                    <td>
                        <input [(ngModel)]="tool.lifetime"> </td>
                    <td>
                        <button (click)="update(tool)">Save</button>
                    </td>
                    <td>
                        <button (click)="delete(tool)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>