* {
    text-align: center;
}

table {
    width: 100%;
}

th,
td {
    padding-top: 5pt;
    border-right: 1px solid rgba(27, 20, 100, 0.279);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    text-align: center;
}

td {
    font-size: 12px;
}

a:hover {
    color: #999999;
}

input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: transparent;
}

input:hover,
input:active,
input:focus {
    border-radius: 5pt;
    font-weight: bold;
}

button {
    border-radius: 4pt;
    border: 2px solid #1B1464;
    background-color: transparent;
    color: #1B1464;
    font-weight: bold;
}

button:hover {
    border-radius: 4pt;
    border: 2px solid #1B1464;
    background-color: #1B1464;
    color: white;
    font-weight: bold;
}

select {
    border-radius: 4pt;
    border: 2px solid #1B1464;
    background-color: transparent;
    color: #1B1464;
    font-weight: bold;
}

select:hover {
    border-radius: 4pt;
    border: 2px solid #1B1464;
    background-color: transparent;
    color: #1B1464;
    font-weight: bold;
}

select:focus-visible {
    border-radius: 4pt;
    border: 2px solid #1B1464;
    background-color: transparent;
    color: #1B1464;
    font-weight: bold;
}

option {
    background-color: #1B1464;
    color: white;
    font-weight: bold;
}

#usurato {
    visibility: hidden;
    border: 2px solid #1B1464;
    font-size: 25pt;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    background-color: rgba(255, 0, 0, 0.469);
    border-radius: 2vw;
    width: 250px;
    height: 250px;
    position: absolute;
}

#tabelle {
    border: 2px solid #1B1464;
    padding-top: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    background-color: rgba(255, 255, 255, 0.748);
    border-radius: 2vw;
    width: 100%;
    height: 100%;
    position: relative;
}

#riga {
    position: relative;
    top: -5.5vw;
}

tr {
    border-bottom: 1px solid rgba(27, 20, 100, 0.279);
}